.tours-view {
  padding: 20px;
}

.custom-heading {
  text-align: center;
  margin-bottom: 20px;
}

.tour-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}