.custom-heading {
  font-family: 'Nanum Myeongjo', serif;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-top: 2rem;

}