.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: 	rgba(248, 249, 250, 0.5);
/*  padding: 5px 0; */
}

.footer-bg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; 
}		

.footer-logo img {
  max-height: 50px; 
  font-size: 14px; 
  position: absolute;
  right: 50%;
  bottom: 10px;		
  display: flex;
  align-items: center;
}

.footer-text {
  font-size: 14px; 
  position: absolute;
  left: 20px;
  bottom: 10px;		
  display: flex;
  align-items: center;
}

.footer-social-btns {
  position: absolute;
  bottom: 10px; 
  right: 20px; 
  display: flex;
  align-items: center;
}

.footer-social-btns .CDBBtn {
  padding: 5px; 
}
