.carousel-container {
  width: 50%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide-item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.carousel-container .react-multi-carousel-item {
  overflow: hidden;
}

.carousel-container .react-multi-carousel-item--active .slide-image {
  opacity: 1;
  transition: opacity 0.5s;
}

.carousel-container .react-multi-carousel-dot-list {
  bottom: 15px;
}

.carousel-container .react-multi-carousel-dot button {
  background-color: #ccc;
}

.carousel-container .react-multi-carousel-dot--active button {
  background-color: #333;
}

.carousel-container .react-multi-carousel-arrow {
  background-color: transparent;
  border: none;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-container .react-multi-carousel-arrow-left {
  left: 10px;
}

.carousel-container .react-multi-carousel-arrow-right {
  right: 10px;
}

.carousel-container .react-multi-carousel-arrow:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-container .react-multi-carousel-arrow svg {
  width: 30px;
  height: 30px;
}

.carousel-container .react-multi-carousel-arrow-left svg {
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .carousel-container {
    padding: 0;
  }
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
     
}


