body {
  background-image: url('https://mediaim.expedia.com/destination/1/c8517e517419df8c39210c366b6c4281.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-attachment: fixed; 
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.tour-card {
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 900px;
  padding: 10px;
  margin: auto;
  margin-top: 80px; 
  margin-bottom: 6rem;
}

.body-bg {
  background-color: rgba(255, 255, 255, 0.7);
}